.App {
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(12px);
  color: white;
}

stations {
  min-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px);
  color: white;
  flex-wrap: wrap;
}

.station {
  width: 15px;
  height: 15px;
  background-color: lime;
  border-radius: 50%;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.station-arrival {
  animation: flash ls linear infinite;
  width: 15px;
  height: 15px;
  background-color: lime;
  border-radius: 50%;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.station-label {
  transform: rotate(-25deg);
  font-size: calc(14px);
  color: lime;
}

.padding {
  width: 100px;
  height: 3px;
  background-color: lime;
  flex-shrink: 0;
}


.map-container {
  height: 100%;
  width: 100%;
}

.info-panel {
  width: 15vw;
  max-height: 75vh;
  position: absolute;
  background: rgba(0,0,0,0.5);
  top: 10px;
  right: 0%;
  color: white;
  font-size: calc(14px);
  overflow-y: scroll;
}


@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  
  
  100% {
    opacity: 1;
  }
}